.container {
    width: 70%;
    margin: auto;
}
    
header {
    height: 100px;
    line-height: 100px;
    color: white;
    background-color: rgba(33,150,243,1);
    background-image:url('../img/pattern.png');
    background-size: contain;
    background-position: 0px 38px;

}

header img {
    width: 150px;
    margin-top: 30px;
}

footer span {
    color:rgb(0, 153, 255);
}

.author {
    margin-bottom: 0;
    margin-top: 0;
}
    
#date {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

.text {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

footer h1 {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

main p span {
    background-color: yellow;
}

#list {
    padding-left: 20px;
}

table th{
    width: 500px;
    text-align: left;
    color:white;
    background-color: hsl(199, 100%, 50%);
}

.background-text {
    background-color: rgba(129,212,249,1);
}

